{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="col">
        <h1>Invasive Ductal Carcinoma (IDC)</h1>
        <hr>
        <img class="rounded mx-auto d-block" src="{{url_for('static', filename='images/cancer.jpg')}}" align="middle" />
        <p>Invasive ductal carcinoma (IDC), also known as infiltrating ductal carcinoma, is cancer that began growing in a milk duct and has invaded the fibrous or fatty tissue of the breast outside of the duct. IDC is the most common form of breast cancer, representing 80 percent of all breast cancer diagnoses.</p>
        <h3>What are the symptoms of invasive ductal carcinoma?</h3>
        <p>As with any breast cancer, there may be no signs or symptoms. A mammogram may reveal a suspicious mass, which will lead to further testing. A woman may also find a lump or mass during a breast self-exam. The following are possible signs of breast cancer and should immediately be reported to your physician for further evaluation:

            Lump in the breast</p>
        <ul>
            <li>Lump in the breast</li>
            <li>Thickening of the breast skin</li>
            <li>Swelling in one breast</li>
            <li>New pain in one particular location of a breast</li>
            <li>Dimpling around the nipple or on the breast skin</li>
            <li>Nipple pain or the nipple turning inward</li>
            <li>Nipple Discharge</li>
            <li>Lumps in the underarm area</li>
            <li>Changes in the appearance of the nipple or breast that are different from the normal monthly changes a woman experiences</li>
        </ul>
        <H3>Additional types of invasive ductal carcinoma:</H3>
        <p>There are four types of invasive ductal carcinoma that are less common:</p>
        <ul>
            <li><b>Medullary Ductal Carcinoma</b> – This type of cancer is rare and only three to five percent of breast cancers are diagnosed as medullary ductal carcinoma. The tumor usually shows up on a mammogram and it does not always feel like a lump; rather it can feel like a spongy change of breast tissue.</li>
            <li><b>Mucinous Ductal Carcinoma</b> – This occurs when cancer cells within the breast produce mucous, which also contains breast cancer cells. The cells and mucous combine to form a tumor. Pure mucinous ductal carcinoma carries a better prognosis than more common types of IDCs.</li>
            <li><b>Papillary Carcinoma</b> – This is a very good prognosis breast cancer that primarily occur in women over the age of 60.</li>
            <li><b>Tubular Ductal Carcinoma</b> – This is a rare diagnosis of IDC, making up only two percent of diagnoses of breast cancer. The name comes from how the cancer looks under the microscope; like hundreds of tiny tubes.  Tubular breast cancer has an excellent prognosis.</li>
        </ul>
    </div>
</div>
{% endblock %}