{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="col">
        <h1>GLAUCOMA</h1>
        <hr>
        <img class="rounded mx-auto d-block" src="{{url_for('static', filename='images/glaucoma.jfif')}}" align="middle" />
        <H3>What Is Glaucoma?</H3>
        <p>Glaucoma is a condition that damages your eye's optic nerve. It gets worse over time. It's often linked to a buildup of pressure inside your eye. Glaucoma tends to run in families. You usually don’t get it until later in life.

            The increased pressure in your eye, called intraocular pressure, can damage your optic nerve, which sends images to your brain. If the damage worsens, glaucoma can cause permanent vision loss or even total blindness within a few years.
            
            Most people with glaucoma have no early symptoms or pain. Visit your eye doctor regularly so they can diagnose and treat glaucoma before you have long-term vision loss.
            
            If you lose vision, it can’t be brought back. But lowering eye pressure can help you keep the sight you have. Most people with glaucoma who follow their treatment plan and have regular eye exams are able to keep their vision.
            
            </p>
        <h3>Glaucoma Causes</h3>
        <p>The fluid inside your eye, called aqueous humor, usually flows out of your eye through a mesh-like channel. If this channel gets blocked, the liquid builds up. Sometimes, experts don’t know what causes this blockage. But it can be inherited, meaning it’s passed from parents to children.

            Less-common causes of glaucoma include a blunt or chemical injury to your eye, severe eye infection, blocked blood vessels inside your eye, and inflammatory conditions. It’s rare, but eye surgery to correct another condition can sometimes bring it on. It usually affects both eyes, but it may be worse in one than the other.
            
            </p>
            <h3>Glaucoma Risk Factors</h3>
            <p>It mostly affects adults over 40, but young adults, children, and even infants can have it. African American people tend to get it more often, when they're younger, and with more vision loss.

            </p>
        <p>You’re more likely to get it if you:</p>
        <ul>
            <li>Are of African American, Irish, Russian, Japanese, Hispanic, Inuit, or Scandinavian descent</li>
            <li>Are over 40</li>
            <li>Have a family history of glaucoma</li>
            <li>Are nearsighted or farsighted</li>
            <li>Have poor vision</li>
            <li>Have diabetes</li>
            <li>Take certain steroid medications such as prednisone</li>
            <li>Take certain drugs for bladder control or seizures, or some over-the-counter cold remedies</li>
            <li>Have had an injury to your eye or eyes</li>
            <li>Have corneas that are thinner than usual</li>
            <li>Have high blood pressure, heart disease, diabetes, or sickle cell anemia</li>
            <li>Have high eye pressure</li>

        </ul>
    </div>
</div>
{% endblock %}