{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="col">
        <h1>Choose your disease</h1>
        <hr>
    </div>

    <div class="card" id="card1">
        <div class="card-body">
            <form method="POST" enctype=multipart/form-data style="color: black" action="/mp">
                <select class="sec" name = "dropdown">
                    <option value = "malaria" selected>Malaria</option>
                    <option value = "glaucoma">Glaucoma</option>
                    <option value = "breastc">Inasive Ductal Carcinoma</option>
                 </select>
                <input type="file" name="file">
                <input type="submit" class="btn btn-primary" name="upload">
            </form>
        </div>
    </div>
</div>
{% endblock %}