{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="col">
        <h1>All You Need To Know About Malaria</h1>
        <hr>
        <img class="rounded mx-auto d-block" src="{{url_for('static', filename='images/malaria.png')}}" align="middle" />
        <p>When it comes to monsoons, there is nothing as blissful as looking at the world through rain-kissed glasses. But with the good comes the bad and with the rainy days, come the adverse viruses and infections. With 95% of the Indian population living in malaria-prone areas, we have every reason to look out for the causes, symptoms and preventive measures of this recurring malady.
        </p>
        <h3>What causes malaria?</h3>
        <p>Malaria is a mosquito-borne parasitic infection spread by a female Anopheles mosquito infected by the Plasmodium parasite. It is a single-celled parasite that multiplies amongst the red blood cells of humans as well as in the mosquito’s intestine. When the female mosquito feeds on an infected person, the parasites are ingested along with the human blood. The parasites multiply in the mosquito’s gut and these infectious forms are passed onto another human when the mosquito feeds again.</p>
        <p>You can get malaria:</p>
        <ul>
            <li>If you have been bitten by an infected female Anopheles mosquito</li>
            <li>If you receive infected blood from a malaria patient during a blood transfusion</li>
            <li>Malaria can also be transmitted from an infected mother to the child during pregnancy through the placenta, or be transferred to the baby through blood during childbirth, resulting in ‘congenital malaria’ (malaria which has been passed from mother to infant)</li>
        </ul>
        <h3>Symptoms of Malaria</h3>
        <p>The symptoms of the disease may occur within 1 to 3 weeks after being infected. There are 4 species of the Plasmodium parasite that can infect the female Anopheles mosquito and cause malaria in humans – P. falciparum, P. vivax, P. ovale and P. malaria. Of these, Plasmodium falciparum is the most dangerous; a malarial infection caused by this parasite can kill rapidly.
        </p>
        <p>A malaria patient is likely to suffer from many, if not all, of the symptoms mentioned below:</p>
        <ul>
            <li>Abdominal pain</li>
            <li>Chills and sweats</li>
            <li>Diarrhea, nausea and vomiting</li>
            <li>Headache</li>
            <li>High fever</li>
            <li>Low blood pressure</li>
            <li>Feeling dizzy when shifting from a lying or a sitting position to a standing position (also called Orthostatic Hypotension)</li>
            <li>Muscle aches</li>
            <li>Poor appetite</li>
        </ul>
        <h3>Preventive Measures for Malaria</h3>
        <p>The first step in safeguarding yourself and your family against the virus is to keep mosquitoes at bay as the disease is spread through them. Clear any sources of stagnating water, indoors and outdoors, as they can act as mosquito breeding grounds. Since mosquitoes are night feeders, stay away from danger zones – particularly fields, forests and swamps – from dusk to dawn to avoid being bitten. Wear pants and long-sleeved clothing that are light-coloured and comfortable as mosquitoes can bite through tight synthetic clothing and are attracted to dark colours.</p>
    </div>
</div>
{% endblock %}